@import "../../module/mixins";

.time {
  &__item-container {
    @include itemContainer;
  }
  &__table {
    border: 1px solid #707070;
    border-collapse: collapse;
    table-layout: fixed;
  }
  &__table-row {
    &--white {
      background-color: #fff;
    }
    &--gray {
      background-color: #ddd;
    }
  }
  &__table-header,
  &__table-data {
    border: 1px solid #707070;
    height: 48px;
    text-align: center;
    vertical-align: middle;
  }
  &__table-header {
    width: 80px;
    color: #fff;
    background-color: #999;
    text-align: center;
    vertical-align: middle;
    @include mq("sp") {
      font-size: 1.4rem;
    }
    &--top {
      @extend .time__table-header;
      width: 160px;
    }
    &--sat {
      @extend .time__table-header;
      background-color: #5160ea;
    }
    &--sun {
      @extend .time__table-header;
      background-color: #ea5174;
    }
    &--time {
      border: 1px solid #707070;
      color: #333;
      text-align: center;
      vertical-align: middle;
      @include mq("sp") {
        font-size: 1.4rem;
      }
    }
  }
}
