@import "../../module/mixins";

.price {
  &__container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    @include mq("sp") {
      margin-top: 40px;
      display: block;
    }
  }
  &__img-wrap {
    max-width: 33.0275%;
    @include mq("sp") {
      max-width: 90%;
      margin: auto;
    }
  }
  &__img {
    @include imgDef;
  }
  &__table-wrap {
    width: 55.7798%;
    margin-left: 11%;
    @include mq("sp") {
      width: 90%;
      margin: 20px auto 0;
    }
  }
  &__table {
    border: 1px solid #5f5e5e;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
  }
  &__table-header {
    border: 1px solid #707070;
    color: #fff;
    background-color: #999999;
    text-align: center;
    vertical-align: middle;
    padding: 14px 0;
    &:first-child {
      width: 26.3157%;
    }
    @include mq("sp") {
      padding: 8px 0;
    }
  }
  &__table-data {
    border: 1px solid #707070;
    text-align: right;
    padding: 14px 17px 12px;
    // line-height: 1;
    vertical-align: middle;
    &--red {
      color: #e81919;
    }
    @include mq("sp") {
      padding: 8px 17px 6px;
    }
  }
  &__note {
    margin-top: 20px;
    &--link {
      border-bottom: 1px solid #333;
    }
  }
}
